html{
    box-sizing: border-box;
}
header{
    padding: 100px 0px 50px;
}
.curse{
    line-height: 50px; 
}
.lsw {
 padding-top: 50px;
}
body {
    font-size: 18px;
    line-height: 32px;    
}
header {
    background-color: #fd739c;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
}

h1,
h2 {
    font-family: 'Prata', serif;
    margin-bottom: 10px;
}